© 2025 Bind Research - <a href={% link _content/contact.md %}>Contact</a> - <a href={% link _content/privacy.md %}>Privacy Notice</a> - <a href={% link _content/edi.md %}>EDI</a>
<div class="center">
    <img src="{{ site.baseurl }}/assets/images/Funded by UK Gov.png"
        style="width: 25%; opacity:0.54; margin-top: 5px; margin-right: 20px;">
    <a href="https://www.ngosource.org/about-equivalency-determination-on-file-badge">
        <img src="{{ site.baseurl }}/assets/images/NGOsource ED on File Image.png"
            style="width: 15%; opacity:0.7; margin-top: 5px;">
    </a>
</div>